<nav class="navbar navbar-default navbar-static-top headerTop">    
    <a class="navbar-brand brand-text text-center fillWidth">
        {{title}}
    </a>    
</nav>
<h4 class="text-center"> Submit </h4>
<p class="text-center">	
	Please enter your PIN again to confirm.
</p>
<div class="text-center">
	<div class="box-fluid">
      <span ng-show="error.message" class="help-block alert alert-danger">{{error.message}}</span>
      <span ng-show="success.message" class="help-block alert alert-success">{{success.message}}</span>
    </div>
	<div class="col-sm-6 col-md-6 col-lg-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 ">
		<input type="text" ng-model="pin" id="pin" class="form-control" placeholder="Enter PIN">		
	</div>
	<div class="col-sm-6 col-md-6 col-lg-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 customBtn">
		<button type="button" class="btn btn-primary btn-block redBtn" ng-click="submit()" id="submitBtn">Submit</button>
		<!-- <button type="button" class="btn btn-primary btn-block redBtn" ng-show="success.message" ng-click="changePage('/home')">Home</button> -->
		<button type="button" class="btn btn-primary btn-block redBtn" id="exitBtn" ng-show="success.message" ng-click="closeApp()">Exit</button>
	</div>
</div>